@use '../../node_modules/pinaple_www/dist/styles/base';

.formContainer {
  padding: 30px 30px 30px 50px;



  select, input {
  border-radius: 5px;
    padding: 5px;
  }

  label {
    color: base.$color-grey
  }

  .mainHeader {
    margin-top: 10px;
  }

}

.categoryBox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .category {
    margin-top: 20px;
  }

  .subCategory {
    margin-top: 20px;
  }
}

.adTitleBox {
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  label {
    display: block;
  }
  input {
  }
}


.addImagesBox {
  margin-top: 30px;

  .addImageIcon {
    &:hover {
      cursor: pointer;
    }

    display: inline-block;
    margin-left: 10px;
  }


  .boxLabel {
    display: inline-block;
    margin-bottom: 10px;
  }

  .imagesBox {

    .hiddenFileInput {
      display: none;
    }

    .imageBox {
      margin-bottom: 10px;
      img {
        border: 1px solid base.$color-grey;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }

      .removeImageIcon {
        display: inline-block;
        margin-left: 15px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

