//@use 'form';
@use '../node_modules/pinaple_www/dist/styles/form';


.formField label {
  &[for=userName]::after,
  &[for=password]::after,
  {
    @include form.mandatory_field;
  }
}

.messageField {
  padding: 0px 0 30px 0;
  display: flex;
  justify-content: center;
}
