@use '../../node_modules/pinaple_www/dist/styles/base';
@use 'sass:color';

.header {
  border-bottom: 1px solid color.adjust(base.$color-primary, $lightness: 20%);

  .nav {
    margin-top: 10px;
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
    }
    ul li a {
      display: inline-block;
      padding: 10px 15px;
      margin-right: 10px;
      color: color.adjust(base.$color-primary, $lightness: -5%);
    }
  }
}
